.Word_adventure {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;

  &:focus {
    outline: none;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@800;600");

body {
  margin: 0;
  padding: 0;
  background-color: #121213;
  color: rgb(248, 248, 248);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Libre Franklin", sans-serif;
  text-transform: uppercase;
}
.title {
  text-transform: capitalize;
}

.notification {
  text-align: center;
  height: 1rem;
  margin: 1em;
  color: salmon;
  font-weight: 600;
  font-size: 1.25rem;

  &--green {
    color: #538d4e;
  }
}

.new-game-button {
  background-color: #4caf50; /* Green background */
  color: white; /* White text */
  padding: 10px 20px; /* Padding around the button */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 16px; /* Increase font size */
  font-weight: bold; /* Bold text */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  margin-top: 20px; /* Spacing from the top */
}

/* Add hover effect */
.new-game-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

/* Add some additional styling if needed */
.new-game-button:focus {
  outline: none; /* Remove default browser outline on focus */
  box-shadow: 0 0 5px rgba(0, 255, 0, 0.6); /* Subtle green shadow on focus */
}
